.entry-wrapper{
	display: block;
	margin: 0 auto;
	width: $size__site-width;
}

.page-header {
	display: block;
	margin: 0 auto;
	width: $size__site-width;
}

.feature-header {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.entry-content {
	img {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

body.archive-view,
body.blog {

	#content {
		width:90%;
		margin:0 auto;
	}
	article {
		//border:1px solid red;
		margin:1%;
		//padding:6px;
		width: 30%;
		display: inline-block;
		float:left;
		height:260px;
		text-align:center;

		@media (max-width: 918px) {
			width:100%;
		}

		.thumbnail-wrap {
			//float:left;
			//border:1px dotted orange;
			padding:5px 17px;
		}

		.content-wrap {
			//float:right;
			//padding:10px;
			.entry-title {
				font-weight: bold;
				text-decoration-style: none;
				font-size: 20px;
			}
		}

		img.wp-post-image {
			//float:left;
		}
	}
}

.obreezy-related-post {
	text-align: center;
	float: left;
	width:22%;
	height:230px;
	display: inline-block;
	img {
		margin-bottom:0px;
	}
	.related-title {
		margin-bottom: 15px;
	}

	@media (max-width:720px) {
		width:100%;
		height:auto;
	}
}
