.entry-wrapper{
	display: block;
	margin: 0 auto;
	width: $size__site-width;
}

.feature-header {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.entry-content {
	img {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

body.archive-view,
body.blog {

	#content {
		width:90%;
		margin:0 auto;
	}
	article {
		//border:1px solid red;
		margin:1%;
		//padding:6px;
		width: 47%;
		display: inline-block;
		float:left;
		height:200px;

		@media (max-width: 918px) {
			width:100%;
		}

		.thumbnail-wrap {
			float:left;
			//border:1px dotted orange;
			padding:5px 17px;
		}

		.content-wrap {
			//float:right;
			padding:10px;
			.entry-title {
				font-weight: bold;
				text-decoration-style: none;
			}
		}

		img.wp-post-image {
			float:left;
		}
	}
}
