.site{
  margin: 0 auto;
  width: 100%;
}

#masthead {
  //border-bottom:3px solid #333;
  margin-bottom:20px;
  background-color: #d6d6d6;
  box-shadow: 0px 5px 5px #aaa;
}
h1.site-title {
  margin:0 auto;
  margin-bottom:8px;
  margin-top:6px;
  font-size: $font__size-h2;
  width: $size__site-width;
  a {
    text-decoration: none;
  }
}

.content-area {
  float: none;
  margin: 0;
}

.site-main {
  margin: 0;
}

.site-content .widget-area {
  float: none;
  overflow: hidden;
  width: 100%;
}

.site-footer {
  clear: both;
  width: $size__site-main;

  .site-info {
    margin: 0 auto;
    width: $size__site-width;
    text-align: right;
    color:#ddd;
  }
}

.comment-toggle-wrap {
  background-color:$color__mid-grey;
}

.comment-toggle {
  @include obreezy-button;
  width:200px;
}

#comments {
  border-top: 2px solid silver;
  margin-top: 20px;
  padding:40px;
  background-color:#ddd;

  .comment-body {
    margin-top:34px;

    .reply {
      margin-top:8px;
      float:right;
      a {
        color: #777;
      }
    }

    a.comment-reply-link {
      @include obreezy-button;
      padding:6px;
    }

    .comment-metadata time {
      color:silver;
      font-weight: light;
      font-style: italic;
    }
  }

  .comment-content {
    background-color:#fff;
    padding:10px;
    p {
      margin-bottom:5px;
    }
  }
}

.clearfix {
  hr {
    display:block;
    clear:both;
  }
}
